<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas - As melhores opções</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static "css/brand.css" %}">
</head>
<body>
   
    {% include "header/header.html" %}

    <div class="products_section">
        <div class="container">
            <!-- Acessorios -->
            <div class="brand_section" data-brand="Acessorios">
                <div class="brand_header apple_header">
                    <div class="brand_logo"></div>
                    <div class="brand_title">Acessórios</div>
                </div>
                <div class="products_grid" id="acessoriosGrid">
                
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/accessories.js" %}"></script>
</body>
</html>
        
