<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas - As melhores opções</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static "css/brand.css" %}">
</head>
<body>
   
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% include "header/header.html" %}

    <div class="products_section">
        <div class="container">
            <!-- Apple -->
            <div class="brand_section" data-brand="apple">
                <div class="brand_header apple_header">
                    <div class="brand_logo"></div>
                    <div class="brand_title">Apple</div>
                </div>
                <div class="products_grid" id="appleGrid">
                   
                </div>
            </div>

            <!-- Samsung -->
            <div class="brand_section" data-brand="samsung">
                <div class="brand_header samsung_header">
                    <div class="brand_logo"></div>
                    <div class="brand_title">Samsung</div>
                </div>
                <div class="products_grid" id="samsungGrid">
                  
                </div>
            </div>

            <!-- Xiaomi -->
            <div class="brand_section" data-brand="xiaomi">
                <div class="brand_header xiaomi_header">
                    <div class="brand_logo"></div>
                    <div class="brand_title">Xiaomi</div>
                </div>
                <div class="products_grid" id="xiaomiGrid">
                    
                </div>
            </div>
        </div>
    </div>

    
    <div id="productModal" class="modal">
        <div class="modal_content">
            <div class="modal_header">
                <div class="modal_title">Detalhes do Produto</div>
                <button class="close_btn" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal_body">
                <div class="product_detail_image" id="modalImage">📱</div>
                <div class="product_detail_info">
                    <h2 class="product_detail_name" id="modalName"></h2>
                    <p class="product_detail_description" id="modalDescription"></p>
                    <div class="product_detail_price" id="modalPrice"></div>
                </div>
                <div class="product_actions">
                    <input type="hidden" id="modalProductId" >
                    <button class="btn_primary" onclick="buyProduct()">Comprar Agora</button>
                    <button class="btn_secondary" onclick="addToCart()">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/brand.js" %}"></script>
</body>
</html>
        
