<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Tech - Sua Loja de Celulares</title>
 
    {% load static %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
</head>
<body>
    <header>
        <div class="sidebar">
            <div class="container">
                <div class="sidebar_container">
                    <div class="info">
                        <span></span>
                    </div>
                    <div class="user_actions">
                        <a href="{% url "welcome" %}">Entrar ou Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="main_header">
                <a href="#" class="logo">
                    📱 Mundo Tech
                </a>
                
                <div class="search_bar">
                    <input type="text" placeholder="Buscar celulares, acessórios...">
                    <button class="search_btn">🔍</button>
                </div>

                <div class="cart">
                    <a href="{% url "cart" %}" class="cart_icon">
                        🛒
                        <span class="cart_page"></span>
                    </a>
                </div>
            </div>
        </div>

        <nav>
            <div class="container">
                <ul class="option_menu">
                    <li>
                        <a href="{% url "menu" %}">Início</a>
                    </li>
                    <li>
                        <a href="{% url "brand" %}">Marcas</a>
                    </li>
                    <li>
                        <a href="{% url "accessories" %}">Acessórios</a>
                    </li>
                     {% if is_superuser %}
                    <li>
                        <a href="{% url 'add_product' %}">Adicionar Produto</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    

    <script src="{% static 'js/header.js' %}"></script>
</body>